
html {
font-size : large;
font-family : sans-serif;
padding : initial;
position : relative;
background : url(../img/posit.jpg) center center no-repeat fixed;
background-size : cover;
text-align : center;
height : auto;
}
.Encabezado {
background : linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 25%, rgba(219, 219, 219, 1) 63%, rgba(254, 254, 254, 1) 84%, rgba(254, 254, 254, 1) 100%);
height : 40px;
width : 100%;
}
.Encabezado ul {
height : 80px;
list-style : none;
margin : 0 auto;
padding : 0;
text-align : left;
}
.barra select {
margin-left : 150%;
padding-top : 5px;
padding-left : 5px;
}
.Principal .color * {
margin-left : 100%;
padding-top : 5px;
padding-left : 5px;
}
.Principal .exact * {
margin-left : -70%;
padding-top : 5px;
padding-left : 5px;
}
.Encabezado ul li {
color : black;
display : inline-block;
height : 40px;
line-height : 40px;
list-style : none;
padding : 0 10px;
transition : background 0.5s;
}
.button:hover, .Encabezado ul li:hover {
background : #117bff;
cursor : pointer;
transition : background 0.5s;
}
.Principal {
margin : 0 auto;
max-width : fit-content;
padding : 0 10px;
height : fit-content;
}
body {
margin : auto;
width : 100%;
color : black;

}
p {
margin-top : 0.1em;
margin-bottom : 0.1em;
position : relative;
}
h1 {
display : inline-block;
}
input, textarea {
font-size : large;
color : #666;
background : #fff;
border-radius : 0.6em;
padding-left : 0.6em;
}
input:focus, textarea:focus {
background : #eee;
}
textarea {
width : 96%;
}
#button {
position : absolute;
top : 35px;
right : 0.5em;
background : #aaa;
color : white;
border : none;
}
#button_active {
margin-left : 100px;
}
.notas {
line-height : 1;
text-align : center;
width : 275px;
height : 275px;
min-height : 250px;
max-height : 250px;
padding-top : 35px;
position : relative;
border : #E8E8E8 solid 1px;
border-top : 60px solid #fdfd86;
font-family : 'Reenie Beanie';
font-size : 22px;
border-bottom-right-radius : 60px 5px;
display : inline-block;
position : relative;
margin-top : 0.8em;
margin-bottom : 0.8em;
display : inline-block;
background : linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
}
.notas :after {
content : "";
position : absolute;
z-index : -1;
right : 0;
bottom : 20px;
width : 200px;
height : 25px;
background : rgba(0, 0, 0, 0.2);
box-shadow : 2px 15px 5px rgba(0, 0, 0, 0.4);
transform : matrix(-1,-0.1,0,1,0,0);
}
.notas h4 {
font-size : 100%;
font-weight : bold;
margin-top : -90px;
}
.notas p {
font-family : "Reenie Beanie", arial, sans-serif;
font-size : 80%;
margin-top : 50px;
}
.notas .marker {
width : fit-content;
height : fit-content;
margin-top : -60%;
}
.notas a {
font-family : "Reenie Beanie", arial, sans-serif;
font-size : 10%;
margin-top : 10%;
padding : 3em;
}
.notas img {
font-family : "Reenie Beanie", arial, sans-serif;
font-size : 15%;
margin-top : 10%;
padding : 3em;
}
h1 .icono {
text-align : right;
}

