
html, body {
position : fixed;
top : 0;
bottom : 0;
left : 0;
right : 0;
}
html {
margin : 0;
padding : 0;
font-size : large;
font-family : sans-serif;
background: url(./img/pluma-en-blanco.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
}}
body {
margin : auto;
}
.Encabezado {
background : rgba(255, 255, 255, 1);
background : linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 25%, rgba(219, 219, 219, 1) 63%, rgba(254, 254, 254, 1) 84%, rgba(254, 254, 254, 1) 100%);
height : 40px;
width : 100%;
}
.Encabezado ul {
height : 40px;
list-style : none;
margin-top : 0;
padding : 0;
}
.Encabezado ul li {
color : black;
display : inline-block;
height : 40px;
line-height : 40px;
list-style : none;
padding : 0 10px;
transition : background 0.5s;
}
.button:hover, .Encabezado ul li:hover {
background : #117bff;
cursor : pointer;
transition : background 0.5s;
}
.Principal {
margin : 0 auto;
max-width : 2048px;
padding : 0 10px;
}
.Principal {
text-align : center;
}
.Principal .pie {
position : absolute;
bottom : 0%;
width : 100%;
height : 50%;
color : white;
}
.Principal .pie p {
color : #fff;
font-size : 20px;
height : 0;
line-height : 20px;
margin-top : 550px;
margin-left : 350px;
position : absolute;
}
.button {
color : #fff;
background : #000;
padding : 10px 40px;
text-decoration : none;
transition : background 0.5s;
}
* {
box-sizing : border-box;
padding : 0;
margin : 0;
}
body {
color : white;
}
form {
background: #191919; 
width : 300px;
margin : 30px auto;
margin-left : 35%;
border-radius : 0.4em;

	 	border: #191919 solid 1px;
overflow : hidden;
position : fixed;

	 	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 1);
z-index : 100;
}
form:after {
content : "";
display : block;
position : absolute;
height : 1px;
width : 100px;
left : 20%;
top : 0;
}
form:before {
content : "";
display : block;
position : absolute;
width : 8px;
height : 5px;
border-radius : 50%;
left : 34%;
top : -7px;
box-shadow : 0 0 6px 4px #fff;
}
.inset {
padding : 20px;
border-top : 1px solid #19191a;
}
form h1 {
font-size : 18px;
text-shadow : 0 1px 0 black;
text-align : center;
padding : 15px 0;
border-bottom : 1px solid rgba(0, 0, 0, 1);
position : relative;
}
form h1:after {
content : "";
display : block;
width : 250px;
height : 100px;
position : absolute;
top : 0;
left : 50px;
pointer-events : none;
transform : rotate(70deg);
background : linear-gradient(50deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
}
label {
color : #fff;
display : block;
padding-bottom : 9px;
}
input[type="text"], input[type="password"] {
width : 100%;
padding : 8px 5px;
background: linear-gradient(#FFFFFF, #B6B6B6);
border: #FFFFFF solid 1px;
box-shadow : 0 1px 0 rgba(255, 255, 255, 0.1);
border-radius : 0.3em;
margin-bottom : 20px;
}
.p-container {
padding : 0 20px 20px 20px;
}
.p-container:after {
clear : both;
display : table;
content : "";
}
.p-container span {
display : block;
float : left;
color : #0d93ff;
padding-top : 8px;
}
input[type="submit"] {
padding : 5px 20px;
border : rgba(0, 0, 0, 0.4) solid 1px;
text-shadow : 0 -1px 0 rgba(0, 0, 0, 0.4);
box-shadow : 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 10px 10px rgba(255, 255, 255, 0.1) inset;
border-radius : 0.3em;
background : #0184ff;
color : white;
float : right;
font-weight : bold;
cursor : pointer;
font-size : 13px;
}
input[type="submit"]:hover {
box-shadow : 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -10px 10px rgba(255, 255, 255, 0.1) inset;
}
input[type="text"]:hover, input[type="password"]:hover, label:hover ~ input[type="text"], label:hover ~ input[type="password"] {
background : #ffffff;
}

