
h3 {

  font-family: serif;
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: bolder;
  color: black;


}

fieldset{
border: 1px solid aqua;
margin: 20px;
padding: 0 10px 10px;
border-radius: 8px;

padding-top: 10px;

}

legend{
  font-size: 25px;
  color: #9e9e9e;
  font-weight: bold;
  font-family: sans-serif;
  padding: 2px 4px;
  background: #fff;
  margin-bottom: 0px;

}

#Form_interior{
background-color: #caffec;


}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {

    padding:5px 15px;
    background:#ccc;
    border:0 none;
    margin-left: 0px;



    -webkit-border-radius: 5px;
    border-radius: 5px;
}

h1{

font-family: sans-serif;
font-weight: bold;


font-size: 25px;

}